<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../public/css/style.css">
	<title>View Profile</title>
</head>
	<body>
		<header>
			<div class = "container">
				<div class = "header-content">
					<div class="title">
						<h1>University </h1><h1 class="elec">Election</h1>
					</div>
					<div class = "right-nav">
						<button id = "logout-btn"><a class="lgn-txt" href="login-signup.php">Logout</a></button>
					</div>
				</div>
			</div>
		</header>
		<section class = "profile-section">
			<div class = "container">
				<div class = "prof-container">
					<div class = "prof-img">
						<img src = "../../public/img/478589759275824754.png" alt = "profile picture">
					</div>
					<div class = "prof-details">
						<p class = "position-tag">Position</p>
						<h3>Candidate Name</h3>
						<p>Party-list</p>
					</div>
					<a class = "back" href = "browse.php">Go Back</a>
				</div>
			</div>
		</section>
		<section class = "candidate-details-sec">
			<div class = "container">
				<div class = "prof-dtl-container">
					<div class = "camp-plat">
						<div class ="title">
							<h3>Campaign Platform</h3>
							<div></div>
						</div>
						<p>Improve student services and campus transparency. My mission is to create a more inclusive and efficient student government that truly represents the voice of every student.</p>
					</div>
					<div class = "achi-exp">
						<div class ="title">
							<h3>Achievement & Experience</h3>
							<div></div>
						</div>
						<ul>
							<li>
								<h3>Sample Exp</h3>
								<p>Improve student services and campus transparency.</p>
							</li>
							<li>
								<h3>Sample Exp</h3>
								<p>Improve student services and campus transparency.</p>
							</li>
							<li>
								<h3>Sample Exp</h3>
								<p>Improve student services and campus transparency.Improve student services and campus transparency.</p>
							</li>
							<li>
								<h3>Sample Exp</h3>
								<p>Improve student services and campus transparency.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</body>
	<footer>
		<div class = "container">
			<p>© 2026 University Election System. All rights reserved.</p>
		</div>
	</footer>
</html>
